.custom-password {
    /* Propiedades CSS */
/*    background: lightgray;
    color: orange;
    padding: 20px;
    border-radius: 8px;*/

    /* Cambiando variables Vaadin */
/*    --vaadin-focus-ring-color: orange;
    --vaadin-input-field-focused-label-color: red;*/
}

/* Usando Shadow DOM */
vaadin-password-field.custom-password::part(reveal-button) {
    color: red;
}

vaadin-password-field.custom-password::part(clear-button) {
    color: red;
}

vaadin-password-field.custom-password::part(label) {
    color: blueviolet;
}

vaadin-password-field.custom-password::part(input-field) {
    color: orange;
    background: grey;
}